h1 {
    color: black;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 250px;
    z-index: 3;
}

#yes {
    color: green;
    left: 40%;
    top: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100px;
    height: 75px;
    font-size: 50px;
    font-weight: bold;
    z-index: 3;
}

#no {
    color: red;
    left: 60%;
    top: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100px;
    height: 75px;
    font-size: 50px;
    font-weight: bold;
    z-index: 3;
}

#water_bucket {
    left: 50%;
    top: 50%;
    position: absolute;
    opacity: 0.3;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#h1_style {
    color: black;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 250px;
    z-index: 3;
}

#q1_style {
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 3;
    font-size: 60px;
}