<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
    <title>Document</title>
</head>
<body>
    <h1 id="h1_style">
        vores smukke hjemmeside
    </h1>
    <button id="q1_style" onclick="location.href='/q1/'">
        <img src="../../static/assets/water_bucket.jpg" alt="Water Bucket" style="width: 25%; height: 25%; object-fit: cover;">
    </button>


</body>
</html>