<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <a href='/'>
        tilbage
    </a>
    <h1>
        placeholder
    </h1>
    <form method="POST" action="/q1/">
        {{ q1_form.hidden_tag() }}

        <input type="submit" id="yes" name="ja" width="100" height="75" value="ja">
        <input type="submit" id="no" name="nej" width="100" height="75" value="nej">
    </form>
</body>
</html>